/* Reset some default browser styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #999;
    color: #333;
}

header {
    background-color: #7B241C;
    color: white;
    text-align: center;
    padding: 60px;
}

h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #0777BFF;
}

main {
    padding: 50px;
}

section {
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
<link rel="stylesheet" type"
}
